<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <mapper namespace="GalleryMapper">
 
 <select id="viewimglist" resultType="net.qna.domain.gallery.gallery">	
 	
	 	SELECT imgid, imgname, imgfile, imgdate, imgup,imgwriter
	 
	 	FROM img_BOARD 
		<!-- WHERE절을 include 태그로 삽입 -->
   		<include refid="search2"></include> 
		ORDER BY imgid desc, imgdate desc LIMIT ${start}, 20;
		 	
	</select>
	
<select id="uplist" resultType="net.qna.domain.gallery.gallery">	
 	
	 	SELECT imgid, imgname, imgfile, imgdate, imgup,imgwriter
	 
	 	FROM img_BOARD 
		<!-- WHERE절을 include 태그로 삽입 -->
   		<include refid="search2"></include> 
		ORDER BY imgup desc LIMIT ${start}, 20;
		 	
</select>
	
<!-- 이미지 등록 -->
 <insert id="insertimage">
 		INSERT INTO img_board(imgid, imgname, imgfile, imgup ,imgwriter) values (#{imgid},#{imgname},#{imgfile},0,#{imgwriter}) 
 </insert>
 
    
 <!-- 이미지 추천 -->
 <update id="upimage">
 	UPDATE img_board set imgup = imgup +1 
 	where imgid= #{#imgid}
 </update>
  <!-- sql code 조각 -->
<!-- 반복되는 sql의 일부를 sql태그를 이용하여 따로 빼둘수 있다. -->

   <!--  삭제 -->
    <delete id="deleteimage">
        DELETE FROM img_board
        WHERE imgid = #{imgid}
    </delete>

<select id="popimglist" resultType="net.qna.domain.gallery.gallery">
		SELECT imgid, imgname, imgfile, imgdate, imgup, imgwriter
	 	
	 	from img_board order by imgup desc limit 4;
	</select>

<select id="countboard" resultType="int">
		SELECT COUNT(*) FROM img_BOARD
		<!-- where절을 include 태그로 삽입 -->
		<include refid="search2"></include>
	</select>

<sql id="search2">
    <choose>
        <!-- 검색옵션이 전체 검색일 경우 -->
        <when test="searchOption == 'all'">
            WHERE imgwriter like '%${keyword}%'
            OR imgname like '%${keyword}%'
            
        </when>
        <!-- 전체 검색이 아닐 경우 -->
        <otherwise>
            WHERE ${searchOption} like '%${keyword}%'
        </otherwise>
    </choose>
</sql>
 
 </mapper>